<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddmeng.helloanimations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".property.BasicPropertyAnimationDemo"
            android:label="@string/basic_property_animation_demo" />
        <activity
            android:name=".property.ViewPropertyAnimationDemoActivity"
            android:label="@string/view_property_animation_demo" />
        <activity
            android:name=".property.KeyframeDemoActivity"
            android:label="@string/keyframe_demo" />
        <activity
            android:name=".layout.DefaultLayoutAnimationDemoActivity"
            android:label="@string/default_layout_animation_demo" />
        <activity
            android:name=".layout.LayoutAnimationsDemoActivity"
            android:label="@string/layout_animations_demo" />
        <activity
            android:name=".view.ViewAnimationDemoActivity"
            android:label="@string/view_animation_demo" />
        <activity
            android:name=".property.CardFlipActivity"
            android:label="@string/card_flip_demo" />
        <activity
            android:name=".property.ZoomActivity"
            android:label="@string/zoom_demo" />
        <activity
            android:name=".transition.activity.SimpleActivityTransitionDemoActivity"
            android:label="@string/simple_activity_transition_demo" />
        <activity android:name=".transition.activity.SimpleTransitionSecondActivity"></activity>
    </application>

</manifest>